html, body {
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here"; color: rgb(225,210,90);
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  position: relative;
  z-index: 99999;
}
li {
  padding: 20px 80px;
  background:#eee;
  border-bottom: 1px solid #bababa;

  &:last-child {
      border-bottom: 0;
  }
}

h2 {
    position: relative;
    color: #fff;
    z-index: 9999;
}