$clipStart: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 56% 59%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
$clipEnd: polygon(50% 0%, 100% 0, 100% 29%, 69% 29%, 56% 59%, 29% 68%, 0 100%, 0% 70%, 0% 35%, 0 0);

@keyframes wakawaka {
    0% {
        transform: rotate(0deg);
        clip-path: $clipStart;
    }

    50% {
        transform: rotate(360deg);
        clip-path: $clipEnd;
    }

    100% {
        transform: rotate(0deg);
        clip-path: $clipStart;
    }
}

.loader {
    animation: 2s ease-out wakawaka infinite;
    border: 5px solid #fff;
    border-radius: 50%;
    clip-path: $clipStart;
    display: inline-block;
    height: 36px;
    left: 50%;
    margin: -18px 0 0 -18px;
    position: absolute;
    top: 50%;
    transition: all 1s ease-out;
    width: 36px;
}